<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

       <context:component-scan base-package="com.frame">
              <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
              <context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
       </context:component-scan>

       <context:property-placeholder location="classpath:jdbc.properties"/>

       <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
              <property name="driverClass" value="${jdbc.driverClass}"/>
              <property name="jdbcUrl" value="${jdbc.jdbcUrl}"/>
              <property name="user" value="${jdbc.user}"/>
              <property name="password" value="${jdbc.password}"/>
       </bean>

       <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
              <property name="dataSource" ref="dataSource"/>
              <property name="jpaVendorAdapter">
                     <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                            <property name="database" value="MYSQL"/>
                     </bean>
              </property>
              <property name="packagesToScan" value="com.frame"/>
              <property name="jpaProperties">
                     <props>
                            <prop key="hibernate.ejb.naming_strategy">org.hibernate.cfg.ImprovedNamingStrategy</prop>
                            <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
                            <prop key="hibernate.temp.use_jdbc_metadata_defaults">false</prop>
                            <prop key="hibernate.hbm2ddl.auto">update</prop>
                            <prop key="hibernate.show_sql">true</prop>
                            <prop key="hibernate.format_sql">true</prop>

                            <!-- 二级缓存和查询缓存 -->
                            <!--<prop key="hibernate.cache.use_second_level_cache">true</prop>-->
                            <!--<prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</prop>-->
                            <!--<prop key="hibernate.cache.use_query_cache">true</prop>-->
                     </props>
              </property>
              <!-- 二级缓存策略 ， 注解生成策略 -->
              <!--<property name="sharedCacheMode" value="ENABLE_SELECTIVE"/>-->
       </bean>

       <bean id="jpaTransactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
              <property name="entityManagerFactory" ref="entityManagerFactory"/>
       </bean>

       <tx:annotation-driven transaction-manager="jpaTransactionManager"/>

       <!-- 配置 Spring Data -->
       <jpa:repositories base-package="com.frame"
                         entity-manager-factory-ref="entityManagerFactory"
                         transaction-manager-ref="jpaTransactionManager"/>


       <!-- 上传接收100M的总文件大小 -->
       <!--<bean id="multipartResolver"-->
             <!--class="org.springframework.web.multipart.commons.CommonsMultipartResolver">-->
              <!--<property name="defaultEncoding" value="UTF-8"/>-->
              <!--<property name="maxUploadSize" value="104857600"/>-->
              <!--<property name="maxInMemorySize" value="4096"/>-->
       <!--</bean>-->
</beans>